// partie barre de recherche + reglage, mise en place de input et placeholder
.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0.5rem;
  & i {
    font-size: 1.5rem;

  }
  h2 {
    font-size: 1rem;

  }
}.city input {
  overflow: auto;
  
}
.city input::placeholder { 
  font-weight:bold; 
  color: black;  
  background-color: inherit; 
}
