@use "./../utils/colors";
// réglage du footer
footer {
  background-color: colors.$darkgrey;
  padding: 1rem 2rem;
  color: white;
  h2 {
    font-family: "Shrikhand", "sans-serif";
    font-weight: 500;
    padding: 0.5rem 0;
  }
  p {
    padding: 0.2rem;
  }
  i.fas.fa-utensils {
      padding-right: 0.5rem;
    }
  
}
